* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1e315c;
  color: #fff;
  padding-top: 80px;
}


header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 40px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header h2 {
  font-size: 1.5rem;
  font-weight: 500;
  word-break: break-word;
}

header h2 a {
  text-decoration: none;
  color: #0A192F;
  font-weight: 500;
}

nav {
  display: flex;
  gap: 16px;
}

nav a {
  text-decoration: none;
  color: #0A192F;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: #CBD5E1;
}

main.conteudo {
  flex: 1;
  padding: 60px 20px 40px;
}

section.sobre {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #CBD5E1;
  color: #1e315c;
  padding: 60px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: justify;
}

section.sobre h3 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

section.sobre p {
  font-size: 18px;
  line-height: 1.6;
}

section.conhecimentos {
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 20px;
  background-color: #CBD5E1;
  color: #1e315c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.conhecimentos h3 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}

.hardskill,
.soft-skills {
  background-color: #ffffff;
  color: #1e315c;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
  justify-content: center;
}

.icon {
  width: 80px;
  height: 80px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  margin-top: 10px;
}

.skills span {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  color: #0A192F;
  font-weight: 500;
  font-size: 14px;
}
